body {
    color: white;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    overflow: hidden;
    font-family: Comfortaa;
    font-size: 16px;
    background: #3d3d37 url("kecske3.jpg") no-repeat fixed center;
    background-size: 100%
}


h2 {
    text-align: center;
    margin-top: 2%;
    margin-left: 55%;
    color: white;
    font-weight: none;
    font-family: 'Comfortaa';
    font-size: 14pt;
}

.login {
    opacity:0.8;
    background-color: rgba(0,0,0,.5);
    overflow: none;
    width: 485px;
    height: 485px;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 2px solid #996633;
    border-radius: 5px;
    font-family: Comfortaa;
    font-size: 0.875em;
}

.login input[type = text] {
    color: white;
    margin-left: 0px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
}

.login input[name = "title"] {
    width: 381px;
}

.login input[type = password] {
    color: white;
    margin-left: 0px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
}

.login input[type = submit] {
    color: white;
<<<<<<< HEAD
    margin-left: 15px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
    font-weight: bold;
}

.login input[type = "submit"]:hover {
    color: #996633;
}

.login p {
    color: white;
    font-weight: 300;
    margin: 10px;
    padding: 5%;
}

.login form {
    color: white;
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.users {
    background-color: rgba(0,0,0,.5);
    overflow: none;
    width: 25%;
    height: 55%;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 2px solid #996633;
    border-radius: 5px;
    font-family: Comfortaa;
    font-size: 0.875em;
}

.users input[type = "submit"]:hover {
    color: #996633;
}

.users input[type = "submit"] {
    color: white;
    margin-left: 15px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
    font-weight: bold;
}

.users p {
    color: white;
    font-weight: 300;
    margin: 10px;
    padding: 5%;
}

.users form {
    color: white;
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.leftbar {
    width: 22%;
    height: 100vh;
    float: left;
    overflow: none;
    border-right: 2px ;
    border-right-color: #996633;
    border-right-style: solid;
    border-width: 1px;
    padding: none;
    margin: none;

}

.leftbar input {
    position: absolute;
    top: 550px;
    width: 13%;
    color: white;
    margin-left: 5px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
}

.leftbar input[type = "submit"] {
    width: 36px;
    height: 36px;
    color: white;
    position: absolute;
    top: 549px;
    left: 220px;
    margin-left: 12px;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 0.875em;
    background-image: url(search.png);
    background-size:100% 100%;
}

.leftbar input[type = "submit"] img:hover {
    filter: hue-rotate(145deg);
    -webkit-filter: hue-rotate(145deg);
}

.leftbar img {
    size: 16px;
}

.rightbar {
    opacity:1;
    width:75%;
    padding: 8px;
    padding-left: 16px;
    height: 100vh;
    float:left;
}

.rightbar a:link {
    position: relative;
    color: white;
    text-decoration: none;
}

.rightbar a:visited {
    color: white;
    text-decoration: none;
}

.rightbar a:hover {
    color: #996633;
    text-decoration: none;
}

.rightbar a.button {
    position: relative;
    top: 540px;
}

a {
    color: #996633;
}

a.button {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px #996633;
    border-radius: 4px;
    border-color: #996633;
    border-style: solid;
    border-width: 1.5px;
    font-family: Comfortaa;
    font-size: 0.875em;
}

a.button:focus {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #996633;
}
