body {
    background-color: grey;
    height: 100%;
    overflow: hidden;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}

.login {
    background-color: grey;
    text-color: #000000;
    overflow: none;
    width: 25%;
    height: 55%;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Crimson Text', serif;
    font-size: 0.875em;
}

.users {
    background-color: grey;
    text-color: #000000;
    overflow: none;
    width: 25%;
    height: 55%;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Crimson Text', serif;
    font-size: 0.875em;
}

h2 {
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    font-family: 'Crimson Text', serif;
}

a.button {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    background-color: grey;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px white;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Crimson Text', serif;
}

a.button:focus {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.login input[type = text] {
    color: white;
    margin-left: 0px;
    background-color: grey;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px white;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Crimson Text', serif;
}

.login input[type = password] {
    color: white;
    margin-left: 0px;
    background-color: grey;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px white;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Crimson Text', serif;
}

.login input[type = submit] {
    color: white;
    margin-left: 15px;
    background-color: grey;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px white;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Crimson Text', serif;
}

.users input[type = submit] {
    color: white;
    margin-left: 15px;
    background-color: grey;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    border: 2px white;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    font-family: 'Crimson Text', serif;
}

.login p {
    color: white;
    font-weight: 300;
    margin: 10px;
    padding: 5%;
    padding-left: 5%;
}

.login form {
    color: white;
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.users p {
    color: white;
    font-weight: 300;
    margin: 10px;
    padding: 5%;
    padding-left: 5%;
}

.users form {
    color: white;
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.leftbar {
    width: 20%;
    height: 100vh;
    float: left;
    overflow: scroll;
    border: none;
    border-right-color: black;
    border-right-style: solid;
    border-width: 1px;
    padding: none;
    margin: none;

}

.leftbar input {
    width: 68%;
    margin: none;
    padding: 1px;
    border: none;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-width: 1px;
}

.leftbar input[type = "submit"] {
    width: 20%;
}

.rightbar {
    height: 100vh;
    float: left;
    overflow: none;
    margin: none;
}
