body {
    background-color: #FFFFF6;
    height: 100%;
    overflow: hidden;
}

.login {
    background-color: #20B2AA;
    width: 50%;
    height: 50%;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.login p {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 5%;
}

.login form {
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}

.leftbar {
    width: 20%;
    height: 100vh;
    float: left;
    overflow: scroll;
    border: none;
    border-right-color: black;
    border-right-style: solid;
    border-width: 1px;
    padding: none;
    margin: none;

}

.leftbar input {
    width: 100%;
    margin: none;
    padding: none;
    border: none;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-width: 1px;

}

.rightbar {
    width: 80%;
    height: 100vh;
    float: left;
    overflow: scroll;
    margin: none;
}
