body {
    color: white;
    background-color: #3d3d37;
    height: 100%;
    overflow: hidden;
    font-family: Comfortaa;
    font-size: 16px;
}

h2 {
    text-align: center;
}

.bg-1 {
    background: url("goat1.jpg") no-repeat fixed center;
    background-size: 100%
}

.bg-2 {
    background: url("goat2.jpg") no-repeat fixed center;
    background-size: 100%
}

.wrapper {
    text-align: center;
    background-color: rgba(0,0,0,.5);
    width: 25%;
    height: 55%;
    padding: 15px;
    position: absolute;
    left: 60%;
    top: 20%;
    border: 2px solid #996633;
    border-radius: 5px;
}

.wrapper form {
    position: relative;
    margin: auto;
}

.wrapper input[type = text], input[type = password] {
    color: white;
    margin: auto;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
    font-family: Comfortaa;
    font-weight: bold;
}

.wrapper textarea {
    color: white;
    margin: auto;
    resize: none;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
    border-width: 1.5px;
    font-family: Comfortaa;
    font-weight: bold;
}

.wrapper input[type = submit] {
    text-align: center;
    color: white;
    margin-left: auto;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
    font-family: Comfortaa;
    font-size: 12pt;
    font-weight: bold;
}

.wrapper input[type = "submit"]:hover {
    color: #996633;
}

.scroll {
    height: 75%;
    overflow: auto;
}

.content {
    height: 95%;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
}

.leftbar {
    width: 22%;
    height: 100vh;
    float: left;
    overflow: hidden;
    border-right: 1px #996633 solid;
}

.leftbar input {
    position: absolute;
    bottom: 3%;
    left: 1%;
    width: 13%;
    padding: 8px 8px 8px 8px;
    color: white;
    background-color: rgba(0,0,0,.5);
    border: 2px #996633 solid;
    border-radius: 4px;
}

.leftbar input[type = "submit"] {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 3%;
    left: 16%;
    background-color: rgba(0,0,0,.5);
    border: 2px #996633 solid;
    border-radius: 4px;
    background-image: url(search.png);
    background-size: 100%;
}

.leftbar img {
    size: 16px;
}

.rightbar {
    width: 40%;
    height: 80vh;
    position: relative;
    float: right;
    overflow: hidden;
}

.rightbar a:visited {
    color: white;
    text-decoration: none;
}

.rightbar a:hover {
    color: #996633;
    text-decoration: none;
}

.rightbar a:link {
    position: absolute;
    bottom: 10%;
    color: white;
    text-decoration: none;
}

.ui-datepicker {
    background: #996633;
    border: 2px #996633 solid;
    border-radius: 4px;
    display: none;
}

a {
    color: white;
}

a.button {
    margin-left: 5px;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
    font-size: 12pt;
}

a.button:focus {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #996633;
}

.attendance input[type = text] {
    color: white;
    margin: auto;
    background-color: rgba(0,0,0,.4);
    padding: 8px;
    border: 2px #996633 solid;
    border-radius: 4px;
}

nav {
    position:absolute;
    bottom: 4.5%;
    left: 24%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}
